#translation-container {
    position: relative;
}

#translation-table-content,
#translation-table-detail-content {
    top: 30px;
}

#ranslation-table-list {
    position: relative;
    left: 0px;
    width: 100%;
}

#translation-table-detail {
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
}

div#translation-file-path {
    font-size: 12px;
    top: 0px;
    position: relative;
    word-break: break-all;
    max-width: 50%;
    margin-bottom: 30px;
}

#translation-container fieldset.admin__form-field {
    font-weight: bold;
}

#translation-container div.admin__form-field {
    display: inline-block;
    margin-right: 15px;
}

#translation-container div.admin__form-field-label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Tabulator */
.tabulator-headers .tabulator-col-content {
    color: white;
    background-color: #514943;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
    position: absolute;
    box-sizing: border-box;
    margin-top: 2px;
    width: 50%;
    text-align: center;
    right: 30px;
    top: 8px;
    color: black;
    font-weight: normal;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {
    height: 25px;
}

/* Modal prompt */
.modal-popup.prompt input[data-role="promptField"] {
    display: none !important;
}

.modal-popup.prompt input[type="radio"] {
    display: inline !important;
}

.modal-popup.prompt .admin__field-label {
    text-align: left  !important;;
    display: inline !important;
    font-weight: bold !important;
}

.modal-popup.prompt .admin__field-option {
    margin-top: 30px !important;
}

.modal-popup.prompt .admin__field-note {
    margin-bottom: 25px !important;
}