<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright Naxero.com
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
    	<add id="Naxero_Translation::manage_translations" dependsOnConfig="translation/general/enable" title="Translation" module="Naxero_Translation" parent="Magento_Backend::content" resource="Naxero_Translation::manage_translations" />
        <add id="Naxero_Translation::naxero_filesindex" title="Language files" module="Naxero_Translation" dependsOnModule="Naxero_Translation" action="translation/files/index" parent="Naxero_Translation::manage_translations" resource="Naxero_Translation::naxero_filesindex"/>
        <add id="Naxero_Translation::naxero_stringsindex" title="Language strings" module="Naxero_Translation" dependsOnModule="Naxero_Translation" action="translation/strings/index" parent="Naxero_Translation::manage_translations" resource="Naxero_Translation::naxero_stringsindex"/>
        <add id="Naxero_Translation::naxero_logsindex" title="Error logs" module="Naxero_Translation" dependsOnModule="Naxero_Translation" action="translation/logs/index" parent="Naxero_Translation::manage_translations" resource="Naxero_Translation::naxero_logsindex"/>
    </menu>
</config>